{% include "header.html" %}
{% load static  %}

<body>
<!-- ======= Header ======= -->

<h1> About us </h1>
Shopee is the largest eCommerce platform in Southeast Asia and Taiwan. We believe in the power of technology and want to change the world for the better.
 Shopee is considered the largest e-commerce platform in Southeast Asia with 343 million monthly visitors. It also serves consumers and sellers

Shopee provides consumers an easy, secure, fast, and enjoyable online shopping experience that is enjoyed by tens of millions of consumers daily.

Shopee is the leading e-commerce platform in Southeast Asia and Taiwan. Launched in 2015, it is a platform tailored for the region, providing customers with an easy, secure and fast online shopping experience through strong payment and fulfillment support.
</body>


{%  include "footer.html"   %}

